.content-bubble.span-6.left.clear
  .bubble-top
  .bubble-body
    %p Target/Direct My Content to a top T.V. Show, Network, Celebrity or Social Powerhouse
  .bubble-bottom
#mashout-media-container.span-9.left.ui-combobox
  %select{:id => 'mashout-media', :name => 'mashout-media', :style => "display: none;"}
    %option{:value => "NONE"} None
    %option{:value => "@ESPN32"} ESPN32
    %option{:value => "@106andPark"} BET
    %option{:value => "@CNN"} CNN
    %option{:value => "@FoxNews "} Fox News
    %option{:value => "@BBCNews"} BBC News
    %option{:value => "@WeatherChannel"} Weather Channel
    %option{:value => "@Starbucks"} Starbucks
    %option{:value => "@Google"} Google
    %option{:value => "@Amazon"} Amazon
    %option{:value => "@ConanOBrien,"} Conan O'Brien
    %option{:value => "@JayLeno"} Jay Leno
    %option{:value => "@GMA"} Good Morning America
    %option{:value => "@MTV"} MTV
    %option{:value => "@10onTop"} 10 on Top
  %input{:id => 'hidden-media', :type => 'hidden', :value => ''}
  :javascript
    $(function() { bindDynamicPreviewAutoCompleteSelectAndHandle('#mashout-media-container', '#mashout-media', '#hidden-media', '#out-preview'); });
%hr.space/

