.span-15.box
  .span-6.left
    %h1.left.clear 5.
    %h3.list-item
      %span
        Ready to
        = succeed "?" do
          %span.orange MASHOUT
  .content-bubble.span-6.left.clear
    .bubble-top
    .bubble-body
      %p
        %span#mashout-chars-left
          140 
        Characters Left
    .bubble-bottom
  .span-9.left
    %textarea#out{:maxlength => '140', :name => 'out'}
      = @out
    .align-right
      %input.button{:type => "submit", :value => "Send Tweet!"}
      %input.button{:id => 'preview-out', :type => "submit", :value => "Preview"}
      %input.button{:id => 'preview-clear-out', :type => "submit", :value => "Cancel"}
    :javascript
      bindMashoutPreviewClick("#{mashout_preview_path}")
      bindMashoutClearPreviewClick();
