/ sidebar
#sidebar.right
  / floating sidebar
  #ready-to-mashout
    .content
      %h3.left.orange.inset-type
        Ready to MASHOUT?
      #quote
        .top
        .body
          .box
            %p
              %span#mashout-chars-left
                140
              Characters Left
            .clear.left
              = form_tag form_path do
                %textarea#out{:maxlength => '140', :name => 'out'}
                  = @out
                .left.network-toggle
                  %input.left{:id => 'twitter', :value => '', :type => 'submit'}
                  %input.left{:id => 'facebook', :value => '', :type => 'submit'}
                  %input.left{:id => 'youtube', :value => '', :type => 'submit'}
                .right
                  %input.button{:type => "submit", :value => "Send"}/
                  %input.button{:id => 'preview-out', :type => "submit", :value => "Preview"}/
                  %input.button{:id => 'preview-clear-out', :type => "submit", :value => "Cancel"}/
        .bottom
  :javascript
    bindMashoutPreviewClick("#{mashout_preview_path}")
    bindMashoutClearPreviewClick();

