- id = "mashout-trend-phrase-#{trend_counter}"
%input{:id => id, :name => "mashout-trendspottr-trends[]", :type => "checkbox", :value => "#{URI.encode(trend[:value])}"}
%label{:for => id}
  = trend[:name] << ' (%.2f)' % trend[:weight]
:javascript
  $(function() { bindDynamicPreviewCheckboxClick("##{id}", '#hidden-trendspottr-trends', '#out-preview'); });
