- id = "mashout-trend-source-#{trend[:name].gsub('@', '')}"
%input{:id => id, :name => 'mashout-trendspottr-targets[]', :type => "checkbox", :value => "#{URI.encode(trend[:value])}"}
%label{:for => id}
  = trend[:name] << ' (%.2f)' % trend[:weight]
:javascript
  $(function() { bindDynamicPreviewCheckboxClick("##{id}", '#hidden-trendspottr-targets', '#out-preview'); });
