#videos
  %ul
    - @videos.each do |video| 
      %li
        = render 'video', :video => video
  = will_paginate @videos
  :javascript
    $(function() { ajaxifyPagination("#videos", "#{dashboard_videos_path}"); });
