#videos.clear
  - if @videos.present? and @videos.count > 0
    %ul
      - @videos.each do |video|
        %li
          = render 'video', :video => video
    %input{:id => 'hidden-video', :type => 'hidden', :value => ''}
    = will_paginate @videos
    :javascript
      $(function() { ajaxifyPagination("#videos", "#{dashboard_videos_path}"); });
  - else
    %em You currently have no Mashoutable Videos

