- content_for :content_body do
  %h1.left 1.
  %h3.list-item
    %span
      Grab a
      %span.orange Hashtag
      (or 2)
  %br/
  .content-bubble.left.clear.span-6
    .bubble-top
    .bubble-body
      %p We make it easy to get out to more people. Choose as many tags as you like!
    .bubble-bottom
  .span-9.left
    .left.span-4
      %input{:name => "hashtag", :type => "checkbox", :value => "Shoutout"}
      \#Shoutout
      %br/
      %input{:name => "hashtag", :type => "checkbox", :value => "ff"}
      \#ff
      %br/
      %input{:name => "hashtag", :type => "checkbox", :value => "TFB"}
      \#TFB
      %br/
      %input{:name => "hashtag", :type => "checkbox", :value => "TeamFollowBack"}
      \#TeamFollowBack
      %br/
      %input{:name => "hashtag", :type => "checkbox", :value => "F4F"}
      \#F4F
      %br/
    .left.span-4
      %input{:name => "hashtag", :type => "checkbox", :value => "FollowForFollow"}
      \#FollowForFollow
      %br/
      %input{:name => "hashtag", :type => "checkbox", :value => "Gratitude"}
      \#Gratitude
      %br/
      %input{:name => "hashtag", :type => "checkbox", :value => "SO"}
      \#S/O
      %br/
      %input{:name => "hashtag", :type => "checkbox", :value => "Tweeps"}
      \#Tweeps
      %br/
      %input{:name => "hashtag", :type => "checkbox", :value => "Tweeps"}
      \#Tweeps
      %br/
  %hr.space/
  .content-bubble.left.clear.span-6
    .bubble-top
    .bubble-body
      %p Trends Happening Now:
    .bubble-bottom
  .span-9.left
    .left.span-4
      %input{:name => "trend", :type => "checkbox", :value => "Shoutout"}
      \#Shoutout
      %br/
      %input{:name => "trend", :type => "checkbox", :value => "ff"}
      \#ff
      %br/
      %input{:name => "trend", :type => "checkbox", :value => "TFB"}
      \#TFB
      %br/
      %input{:name => "trend", :type => "checkbox", :value => "TeamFollowBack"}
      \#TeamFollowBack
      %br/
      %input{:name => "trend", :type => "checkbox", :value => "F4F"}
      \#F4F
      %br/
    .left.span-4
      %input{:name => "trend", :type => "checkbox", :value => "FollowForFollow"}
      \#FollowForFollow
      %br/
      %input{:name => "trend", :type => "checkbox", :value => "Gratitude"}
      \#Gratitude
      %br/
      %input{:name => "trend", :type => "checkbox", :value => "SO"}
      \#S/O
      %br/
      %input{:name => "trend", :type => "checkbox", :value => "Tweeps"}
      \#Tweeps
      %br/
      %input{:name => "trend", :type => "checkbox", :value => "Tweeps"}
      \#Tweeps
      %br/
  / content section
  .span-15.box
    %h1.left.clear 2.
    %h3.list-item
      %span
        Add a
        = succeed "?" do
          %span.orange Comment
    .content-bubble.span-6.left.clear
      .bubble-top
      .bubble-body
        %p Pick a refab comment from the list:
      .bubble-bottom
    .span-9.left.ui-combobox
      %select{:style => "display: none;"}
        %option{:selected => "selected", :value => "select"} Select a Comment
        %option{:value => "c1"} Select Comment 1
        %option{:value => "c2"} Select Comment 2
        %option{:value => "c3"} Select Comment 3
  / content section
  .span-15.box
    .span-6.left
      %h1.left.clear 3.
      %h3.list-item
        %span
          Ready to
          = succeed "?" do
            %span.orange MASHOUT
    .span-9.left
      %input.button{:type => "submit", :value => "Create Shoutout"}
      %input.button{:type => "submit", :value => "Cancel"}
