/*
 *= require jquery-ui-1.8.16.custom
 */

 /*Dashboard*/
/*hours-saved
#content-wrapper.span-all #hours-saved {
    text-align: center;
    padding: 30px; }
*/

/*-------------------------Tool buttons-----------------------*/
#content-wrapper.span-all #dropdown-buttons {
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd; }

#content-wrapper.span-all #dropdown-buttons .pickouts,
#content-wrapper.span-all #dropdown-buttons .analytics,
#content-wrapper.span-all #dropdown-buttons .networks {
    padding: 15px 25px; }

#content-wrapper.span-all #dropdown-buttons h4 {
    margin: 0;}

#content-wrapper.span-all #dropdown-buttons {
    background: #dddddd;
    width: 100%;
    min-height: 100px; }

#content-wrapper.span-all #tool-buttons h4 a,
#content-wrapper.span-all #dropdown-buttons h4 a {
    display: block;
    background: url('button-bg.jpg');
    padding: 10px 25px 25px 25px;
    font-size: 1.4em;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1em;
    width: 217px; }

#content-wrapper.span-all #tool-buttons .button,
#content-wrapper.span-all #dropdown-buttons .button {
    background: #84a7bf;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 267px;
    border: 0;
    margin: 15px 20px;
    padding: 5px;
    outline: 0; }

#content-wrapper.span-all #tool-buttons .button {
    min-height: 98px;}

#content-wrapper.span-all #tool-buttons h4 a span {
    font-size: 0.5em; }

#content-wrapper.span-all .inset-type {
    text-shadow: #000000 0px -1px 0; }

#content-wrapper.span-all #tool-buttons h4 {
    line-height: 1em;
    margin-bottom: 0; }

#content-wrapper.span-all #tool-buttons h4 a {
    font-style: italic;
    font-size: 2.1em;
    line-height: 0.8em;
    min-height: 63px; }

#content-wrapper.span-all #tool-buttons h4.coming-soon a {
    color: #B6EBD9;
    padding: 25px 40px 10px 40px;
    width: 187px; }

#content-wrapper.span-all #dropdown-buttons h4 a {
    padding: 20px 10px;
    width: 247px;
    height: 15px; }

#content-wrapper.span-all #tool-buttons .button:hover,
#content-wrapper.span-all #dropdown-buttons .button:hover,
#content-wrapper.span-all #dropdown-buttons .button:hover,
#content-wrapper.span-all #dropdown-buttons .button.active {
    background: #d05407; }

#content-wrapper.span-all .button {
    position: relative; }

/*button ribbons*/
#content-wrapper.span-all .button .in-development,
#content-wrapper.span-all .button .soon {
    background: url(ribbons.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -7px;
    left: -7px; }

#content-wrapper.span-all .button .in-development {
    background-position: 0 0;
    width: 80px;
    height: 80px; }

#content-wrapper.span-all .button .soon {
    background-position: -77px 0;
    width: 60px;
    height: 72px; }


/*----------------------More Info Columns--------------------------*/
#content-wrapper.span-all #extra-info {
    background: #ededed;
    width: 100%;
    padding-top: 30px; }

#content-wrapper.span-all #besties,
#content-wrapper.span-all #video-library,
#content-wrapper.span-all #interactions {
    width: 275px;
    min-height: 560px;
    padding: 0 20px;
    border-left: 1px solid #bdbdbd; }

#content-wrapper #video-library,
#content-wrapper.span-all #video-library {
    border: 0;}

#content-wrapper.span-all #besties #list-people,
#content-wrapper.span-all #video-library #videos,
#content-wrapper.span-all #interactions #list-interactions {
    min-height: 466px; }

#content-wrapper.span-all #besties {
    border-left: 0;
    border-right: 1px solid #bdbdbd; }

#content-wrapper.span-all table {
    margin-bottom: 0.6em; }

#content-wrapper.span-all table td {
    width: 80%;
    padding: 5px; }

#content-wrapper.span-all table td+td,
#content-wrapper.span-all table td+td+td  {
    text-align: center;}

#content-wrapper.span-all #interactions tbody tr:nth-child(even) td, tbody tr.even td {
    background: #dddddd; }

#content-wrapper #video-library object {
    padding-right: 10px;
    float: left; }

#content-wrapper.span-all #video-library #videos {
    min-height: 377px;
    padding-bottom: 20px; }

#content-wrapper.span-all #video-library #videos ul {
    padding-left:0;
    min-height: 406px; }

#content-wrapper #video-library #videos label {
    font-weight: normal; }

#content-wrapper #video-library #videos h4 {
    margin-bottom: 0;
    color: #d05407;
    float: left; }

#content-wrapper.span-all #besties ul {
    margin-top: 10px;
    margin-right: 0;
    padding: 0;
    width: 270px;
    margin-left: 2px; }

#content-wrapper.span-all #besties #list-people ul li a{
    width: 238px;
    display: block; }

#content-wrapper.span-all #besties input.text,
#content-wrapper.span-all #besties input[type="text"] {
    width: 262px;
    padding: 5px; }

#content-wrapper.span-all #besties input.submit,
#content-wrapper.span-all #besties input[type="submit"] {
    width: 125px; }

#content-wrapper.span-all #besties ul li,
#content-wrapper #video-library ul li {
    list-style-type: none;
    display: block; }

#content-wrapper #video-library #videos ul li {
    padding-bottom: 8px;
    clear: both;
    min-height: 98px;
    float: left;
    min-width: 280px; }

/*Large Dashboard Network Toggle*/
.networks .network-toggle,
.networks .network-toggle input {
    margin-top: 2px;
    padding-right: 10px;
    border: 0;
    outline: 0; }

.networks .network-toggle .description {
    width: 785px;
    height: auto;
    margin-left: 30px; }

.networks .network-toggle p {
    width: 500px;
    padding: 5px;
    margin-top: 90px;
    font-size: 2em;
    line-height: 1em; }

.network-arrow {
    background: url('network-arrow.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 115px;
    margin-top: 65px;
    margin-left: 25px; }

.networks .network-toggle .item {
    padding: 5px 0; }

.networks .network-toggle #toggle-twitter.on,
.networks .network-toggle #toggle-twitter,
.networks .network-toggle #toggle-facebook.on,
.networks .network-toggle #toggle-facebook,
.networks .network-toggle #toggle-youtube.on,
.networks .network-toggle #toggle-youtube {
    display: block;
    width: 77px;
    height: 77px;
    background: url("social-icons.png");
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer; }

.networks .network-toggle #toggle-twitter.on {
    background-position: -3px -247px; }

.networks .network-toggle #toggle-twitter {
    background-position: -80px -247px; }

.networks .network-toggle #toggle-facebook.on {
    background-position: -3px -167px; }

.networks .network-toggle #toggle-facebook {
    background-position: -80px -167px; }

.networks .network-toggle #toggle-youtube.on {
    background-position: -3px -325px; }

.networks .network-toggle #toggle-youtube {
    background-position: -81px -325px; }

/*Misc*/
#video-player {
    margin: 15px; }

.hidden { display: none; }

