#header #social-media {
    margin-right: 5px;}

.ui-button-icon-only .ui-button-text {
    padding: 0.35em 0.35em 0.2em 0.35em;
    margin-top: 5px;}

#footer #back-to-top {
    margin-top: -20px;
    padding: 0;}

