input[type="submit"],
input.button {
    padding-top: 4px !important;
    padding-bottom: 4px !important; }

#header #social-media {
    margin-right: -5px;}

.ui-button-icon-only .ui-button-text {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.75em;
    padding-left: 0.75em;
    margin-top: 9px; }

button {
    top: 0.2em; }

#footer #back-to-top {
    margin-top: 15px;
    padding: 0;}

#content-wrapper.span-all #video-library #videos ul {
    min-height: 413px; }

