.button,
input[type="submit"],
input.button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0; }

.ui-button-icon-only .ui-button-text {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.75em;
    padding-left: 0.75em;
    margin-top: 7px; }

button {
    top: 0.2em; }

h3.list-item {
    margin-left: -10px; }

#content-wrapper #sidebar #ready-to-mashout #quote .body .box {
    width: 267px;}

#content-wrapper.span-all #dropdown-buttons {
    margin-top: 10px; }

