- content_for :title do
  .prepend-top
    .left
      %h1.inset-type About Us

- content_for :content_body do
  .left.box
    %p
      Mashoutable is brand new cloud hosted software that helps you develop your social media presence easily and efficiently without the hassle of spending long periods of time discovering the right target markets, and posting numerous @authoritative posts directed at dozens of people individually.
      %br/
      %br/
      Mashoutable has rolled out in Alpha stage, with an upgraded Alpha stage and
      added features going live in the 4th Quarter of 2011.
      %em Mashoutable
      Beta stage
      is also currently being "Mapped"
      out as well;

    %p
      Mashoutable is focusing on expediting the process of doing your #Shoutouts, @Mentions and
      %a{:href => mashout_url} targeted tweets
      with no typing required. Ideal for the mobile device user who doesn't want to fumble with the little keyboard or touch screen of many popular smart phones of today. Mashoutable's
      %a{:href => root_url} social media tools
      , are a time saving utopia for anyone who is conducting important shoutouts, targeted tweets and more. We have effectively turned what is usually 15 minutes of work into 3 to 4 clicks!

    %p
      What's the catch right? No catch, no strings, it's free. We just want to make social media more manageable for the non-robot folks out there who are really putting their own time, life, and personality into their efforts.

    %p
      This shoutout generator will have you engaged and interacting with fabulous new Tweeps, or people, in no time at all. In fact, our secret is the little method in how our
      %a{:href => root_url} social media services
      process and utilize the custom algorithm to ensure that you are going to be getting more return for your time spent.

    %p
      Know that we are already aggressively injecting advancements based on the new and newly organized data from the most recent Twitter changes, and we already have future development rollout plans for additional social media networks including Facebook and YouTube.

    %hr/
    %p
      How did
      %strong Mashoutable
      come to be? After first a good bit of time spent on MySpace and Facebook, and then becoming totally hooked on Twitter, we began to feel the pangs of juggling how much time we have to spend on social media verses what needed done verses what we wanted to do.

    %p
      Personally, we value and feel it is important to give our time, energy, and love to our online social media networks. We struggled with what was available, what wasn't, what we could do, and what we couldn't do; because of that struggle, the idea of Mashoutable was born.

    %p
      To "Mashout" simply means to #shoutout about a top social media trend or something you love. Our list is dynamic, so as the top social media trend changes, so do our lists and the way our
      %a{:href => root_url} social media tools
      functions on the back end. You use the same social media tools day after day, week after week, and we tweak how they are functioning on the back end so that they are giving you the biggest return.

    %p
      The "OUT" that is referred to in many of our social media services is referring to getting "it" OUT there, whatever you need to say and when you need to say it, at the moment it is still within you.  Every idea, thought, desire, etc. Using our various social media tools can even
      %a{:href => root_url} increase your Twitter followers".

    %p
      We hope you find our social media tools greatly valuable and welcome all types of communications, be it advice, comments, complaints, requests or simply thanks!
    %p
      Cheers, and Potent Gratitude for now,
    %p
      Mashoutable.com™ a Delaware Corporation
      %br/
      %br/
      %a.twitter-follow-button{"data-show-count" => "true", :href => "https://twitter.com/gratefulenergy"} Follow @gratefulentery
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %span.AboutText (@GratefulEnergy - One of Mashoutable's founders on Twitter)
    %p
    %p
      The "Mashoutable" mark is associated with proprietary rights around
      services associated with computer, software and scientific services.
      %br/

