- content_for :title do
  .prepend-top
    .left
      %h1.inset-type About Us

- content_for :content_body do
  .span-23.box
    %p
      Mashoutable.com is a brand new Cloud Hosted Software under the category of
      "Social Media Management Application" with a precise tagline which is: 'MASHOUT'
      SOCIAL MEDIA TASKS".
      %br/
      %br/
      Mashoutable has rolled out in Alpha stage, with an upgraded Alpha stage and
      added features going live in the 4th Quarter of 2011.
      %em Mashoutable
      Beta stage
      is also currently being "Mapped"
      out as well;

    %p
      Mashoutable is focusing on expediting the process of doing your
      \#Shoutouts and @Mentions on Twitter in an automated, random (or Targeted if
      desired), yet editable Tweet, with no typing required... Ideal for the mobile
      device user who doesn't want to fumble with the little keyboard, while equally a
      time saving utopia for anyon  e who is conducting the all important shoutouts...
      We have effectively turned a minimum 15 minutes of work into 3 to 4 clicks!

    %p
      What's the catch right? Nada~!! No catch, no strings, it's free, we just want
      to make Social Media a more manageable task for the non-robot folks out there
      who are really putting their own time, life, and personality into their efforts.

    %p
      This shoutout generator will have you engaged and interacting with fabulous new
      "Tweeps" in LITERALLY no time at all... In fact, our secret is the little method
      in how our application processes and utilizes the custom algorithm to ensure
      that your going to be getting far more fruit from way less labor ; )

    %p
      Know that we are already aggressively injecting advancements based on the new
      and newly organized data from the most recent Twitter changes, as well as have
      already in the pipeline development rollout plans for additional "Social Media"
      networks (Facebook and Youtube to name a couple) and the respective time
      consuming tasks which could be brought under more manageable circumstances.

    %hr/
    %p
      Mashoutable is not going to play only a service role, some of
      the new feature sets which we release soon are certain to be one of a kind, game
      changing, award winners which we're sure you'll be as grateful to use them as we
      are!

    %p
      How did
      %em Mashoutable
      come to be? After first a good bit
      of time spent on Myspace, then Facebok, and then becoming totally hooked on
      Twitter, we began to feel the pangs of time vs. what needed done vs. what we
      wanted to do.

    %p
      Personally, we value and feel it important to give our time, energy,
      and love to our online social media network, and so in personally taking witness
      of what was available for help, what wasn't, what we could do, and couldn't, the
      idea of "m&gt;" was born in Mind...

    %p
      "Mashout" the Shoutout - or simply #shoutout about a top social
      media trend or or something you love", our list is dynamic, so as the top social
      media trend changes, so does our site/list...

    %p
      The "OUT" is of course getting "IT" OUT there... at the moment it's still within
      you, an idea, a thought, a desire, so click and "MashOUT" release your inner
      Social Media Aspirations ! ! !

    %p
      We hope you find it greatly valuable and welcome all types of communications, be
      it advice, comments, complaints, requests, or simply thanks!
    %p
      Cheers, and Potent Gratitude for now...
    %p
      Mashoutable.com™ a Delaware Corporation
      %br/
      %br/
      %a.twitter-follow-button{"data-show-count" => "true", :href => "https://twitter.com/gratefulenergy"} Follow @gratefulentery
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %span.AboutText (@GratefulEnergy - One of Mashoutable's founders on Twitter)
    %p
    %p
      The "Mashoutable" mark is associated with proprietary rights around
      services associated with computer, software and scientific services.
      %br/

