- content_for :title do
  .prepend-top
    .left
      %h2.inset-type
        %span.blue #Video
        BLASTOUT&trade;

- content_for :content_body do
  .span-23.box
    %p
      Social Media Bliss in 0 - 60 Seconds!

    %p
      Our second yes easily a "best" social media development tool.  We're putting the "Social" and "Media" BACK into "Social Media"!  The video killed the radio star; Now the "Video Shoutout" or more diversely put "Video Blastout" may put a serious hurting on the textually based social media tool and development effort.

    %p
      When your favorite t.v. network turns to social media to acknowledge a communication which is relevant to a top-trend being discussed, will they now just "read" a tweet, or will they "TELEVISE" YOUR
      %strong #
      Video
      %strong BLASOUT?!?

    %p
      %strong ABOUT THIS TOOL:

    %p
      Ok, so the video + the internet = "Nothing New" right?  Yet Mashoutable™ has taken these two ingredients to "Invent" a new niche we call the
      %strong #
      Video
      %strong BLASTOUT;
      This is a maximum 60 seconds video which requires NO Record/Save/Name/Search/Find/Upload etc... Hit the record button and the video content is streaming LIVE and being captured in the Mashoutable™ Cloud, for you to attach with our pre-shortened url to your Tweet(s), Facebook post(s), and other coming social networks.

    %p
      This should be the best and most non-friction based tool for enhancing social media development, as well as the all important increase of twitter followers.  It's still follows the "Short and sweet" aspects of micro-blogging with it's max 60 seconds capture time, while rivaling Facebook with it's technological advancements of live stream/capture, with the "cherry on top" being the sticky ability and viral potential of Youtube with  posting/embedding anywhere you choose.

    %p
      %strong WHO SHOULD/COULD USE THIS TOOL:

    %p
      %em "Social Media development is screaming for a depth and richness, which only the video with it's unrivaled levels of intimacy could provide"

    %p
      %strong Power User:
      Ok Pro, we both know that you're skillfully crafted textual communications can only take you so far, eventually you'll have to show that pretty smile, and charming personality, or at the least, you'll need to bring your product/service to life and move beyond the "Talk about it stage"; Now you may use one of the best social media development tools ever brought to life, and leverage the power of video with the speed and productivity levels of "automation" - Mashoutable™ video blastout tool is your saving grace.   - #PowerUserBliss!

    %p
      %strong Celebrity/Big Brands:
      With a few exceptions, you're likely a "Celeb" or "Famous" not for your writing, but for "WHO you are, and HOW you are who you are" right?  Capitalize on that asset the best way you know how - #Video!  We make it all simple, simple, simple, for you... set your target (@Mentions, #RT's, #Shoutouts received, Follower/Fans), click construct to add top-trend relevance and keyword richness, we'll attach
      %strong #
      Video
      %strong BLASTOUT,
      and you're back in the spot light babe!.

    %p
      %strong Newbie:
      Don't know where to start?  #Introduce yourself to the world with a quick
      %strong #
      Video
      %strong BLASTOUT!
      It can be a daunting task, and  a time consuming one at that, to record, locate, upload, etc. etc... Let's save you a bunch of time and just get to the exciting/easy part - YOU!  Click Record, then "Click Construct" yourself the rest of the way to social media professionalism with one of our best and award-worthy social media tools ever!

    %p
      %strong ANYONE:
      Leveraging the ability to "Click Construct" for automation levels of productivity, using our proprietary algorithmic targeting process, combined with the potency and realness of video, the friction-less ability to create/save/share with no uploading, along with the stickiness of attach/embed anywhere, enhanced by the short/sweetness of a nichey max 60 seconds communication, the possibilities MUST be nearly endless : )

