- content_for :title do
  .prepend-top
    .left
      %h1.inset-type Blog

- content_for :content_body do
  .left.box.blog
    .entry
      %h2 Mashoutable&trade; Social Media!
      %p Posted on September 5, 2011 in Uncategorized

      %p
        The Mashoutable&trade; Blog is where you’ll find good sources of information on how to be awesome in the Social Web, which we’ll tweet to you at
        %a{:alt => "Mashoutable™ Twitter Account", :href => "http://Twitter.com/Mashoutable", :target => "_blank"} Twitter.com/Mashoutable
        as well.

      %p
        There’ll be tips, tricks, attempts, and try[out]‘s!  Get involved if you know some stuff too, we’d all enjoy a new perspective or innovation that helps make the Social Web easier.  Talk to you soon!

