- content_for :body do
  / tagline
  #tagline.clear
    .left
      %h1.inset-type
        Free Tools to
        %span.large Amplify
        %br/
        %span.prepend-1 Your Social Media Development
    / tagline toolbox
    #toolbox-icon.right.last
      %img{:alt => "Toolbox", :src => "#{asset_path('tools.png')}"}
  / Call to action wrapper
  #call-to-action
    / Call to action container
    .container
      / Call to action start content
      #cta-steps.span-24.append-bottom.prepend-top
        / Call to action social media login
        #home-sign-in.span-24.clear
          %img#sign-in-arrow.left{:alt => "Sign In", :src => "#{asset_path('sign-in-arrow.png')}"}
          %a{:href => twitter_auth_path}
            %span#sign-in-twitter.left.append-1
          %a{:href => facebook_auth_path}
            %span#sign-in-facebook.left
        / Call to action step 1
        .clear.box.left.span-6
          %h1.left 1.
          %h3.list-item
            %span
              Start
              %span.orange Here
          %p Sign in with Facebook or Twitter
        / Call to action step 2
        .box.left.span-9
          %h1.left 2.
          %h3.list-item
            %span
              Choose the
              %span.orange Tool
          %p Search, target, optimize, construct and save time with one or multiple tools via MASHOUTABLE™
        / Call to action step 3
        .box.left.last.span-6
          %h1.left 3.
          %h3.list-item
            %span.orange MASHOUT!
          %p Use as many tools as you like over and over again!
  / tools wrapper
  #tools.clear
    / tools container
    .container
      / tools start content
      %h2.title The Tools:
      / mashout tool
      #mashout-tool.box
        / mashout tool container
        .tool-inner
          / mashout start content
          %h4
            %a{:href => mashout_url}
              %span.tool-orange
                &#35;Targeted
              MASHOUT&#8482;
        %p.clear Select, Target, Infuse &amp; Fire! NO TYPING REQUIRED!
      / blastout tool wrapper
      #blastout-tool.box
        / blastout tool container
        .tool-inner
          / blastout start content
          %h4
            %a{:href => blastout_url}
              %span.blue
                &#35;Video
              BLASTOUT&#8482;
        %p.clear Add a 60 second video to your Tweet in just seconds!
      / shoutout tool wrapper
      #shoutout-tool.box
        / shoutout tool container
        .tool-inner
          / shoutout start content
          %h4
            %a{:href => shoutout_url}
              %span.green
                &#35;Top Trend
              SHOUTOUT&#8482;
        %p.clear Use Mashoutable™ to "Click Construct" Tweets directly to celebs, brands, or top 10 networks!
      / pickout tool wrapper
      #pickout-tool.box
        / pickout tool container
        .tool-inner
          / pickout start content
          %h4
            %a{:href => pickout_url}
              %span.red
                &#35;Credible Winner
              PICKOUT&#8482;
        %p.clear Generate instant name and QR code for instant credibility!
      / coming soon wrapper
      #coming-soon-tool.box
        / coming soon tool container
        .tool-inner
          / coming soon start content
          %h2 #COMING SOON
        %p.clear Get ready for what's coming! Live in the "wow" with Mashoutable™!
  - content_for :optional_body do
    #welcome.clear
      .divider-shadow
      / footer welcome container
      .container
        / footer welcome start content
        %h2.inset-type Welcome to Mashoutable™
        %p
          Free tools for Social Media Amplification
          %br/
          %br/
          Automated. Random or Targeted. Mashoutable™ is here to boost
          Social Media Development, enhance engagement levels on Twitter,
          Facebook, Google+, and MUCH more. Afraid of change? Don't Be. We have
          the Best Social Media Tools to simplify and speed up your social
          activities, while optimizing every detail instantly. Achieve "Automation
          levels of efficiency and productivity" without losing the benefits of
          real-time application of individuality and personality. From the live
          stream/capture #Video BLASTOUT to our #Credible Winner PICKOUT, you can
          be confident Mashoutable™ is the "Enterprise Grade" solution made FREE
          for ALL Did we mention it's FREE? That's only the beginning... more.

