- content_for :body do
  #steps
    .create
      %span.light-blue
        Easily Create, Target, & Direct,
      %span
        Fresh & Relevant Content

    .publish
      %span.light-blue
        Quickly Publish
      %span
        to your Social Networks

    .influence
      %span.light-blue
        Be instantly influential

    %a{:href => twitter_auth_url, :title => 'Login with Twitter'}
      %span.start

  - content_for :optional_body do
    #welcome.clear
      .divider-shadow
      / footer welcome container
      .container
        / footer welcome start content
        %span.inset-type Welcome to Mashoutable™
        %h2
          Social Media Tools for Social Media Amplification
        %p
          = render 'mashout_desc'

