- content_for :title do
  .prepend-top
    .left
      %h2.inset-type
        %span.orange #Targeted
        MASHOUT&trade;

- content_for :content_body do
  .span-23.box
    %p
      Our first, and one of the best tools for social media development.  No more creating
      lists to use for targets, you simply "Set Target" (i.e. Followers, Fans, Celebs, I
      follow, Friends, @Mentions, #Shoutouts, #RT's), "Click Construct", and #MASHOUT that #Targeted Message!

    %p
      %strong ABOUT THIS TOOL:

    %p
      It takes longer than most either have, or are willing to give, to do their #Shoutout(s) in Social Media, then add the time and frustration of selecting WHO to give attention to, choosing fairly, or even further, making sure it is the type of target you're after... you can see how quickly this turns into a 15+ minutes task.  Mashoutable™ is here to help your Social Media Development and to rapidly Increase Twitter Followers;  Now you may easily #MASHOUT your #Shoutouts, @Mention/#RT replies, hit up your "Besties", show love to your Fans/Followers, or hit up JUST your Celeb friends less than a minute, or 3 to 4 clicks.

    %p
      %strong WHO SHOULD/COULD USE THIS TOOL:

    %p
      %em Let's face it, "Social Media" is becoming more an more automated, and "Robots interacting with Robots" is only good in manufacturing.

    %p
      %strong Power User:
      Don't give up your "Automation Levels" of productivity, but now have the opportunity for the "Real-time" application of personality and individuality.  We do all the algorythmic-ish selection/thinking to optimize EVERY detail of operation, why you just worry about the cosmetics of the communication (We even help with that if you want : ), this way you maintain your current level of productivity, get more, do less, and get it all sooner!  - #PowerUserBliss!

    %p
      %strong Celebrity/Big Brands:
      How do we choose who to just say hi too, simply because they've shown us the love and appreciation of following us?  MASHOUTABLE™!  We're absolutely the BEST SOCIAL MEDIA TOOLS to make the Celeb/Big Brands lives easier, without sacrificing quality interaction and engagement.  Set your target to "Follower Tweeps" (This is going to allow you to click construct a message using ONLY your followers/fans as the target), it selects at random so their is no guilt that you didn't go deep enough, or ignored this one, etc. etc..  We make it easy for you're @Mention, #RT, and #Shoutouts to be replied to as well, just choose them as a target, and we go in and grab those user name for your communication.

    %p
      %strong Newbie:
      Woah, social media development, best social media tools, increase twitter followers... have we lost you yet?  Don't worry, Be HAPPY!  Mashoutable™ will give you the piece of mind, that you can jump in, start mashing out the most effective tasks and harvesting all of their fruits, without the "Doctorate Degree";  We ensure all you do is done optimally, and professionally, so if you like to just jump in, and worry about "learning WHY" it works later, you're in the right place.

    %p
      %strong ANYONE:
      Play around with this tool, the more you use it, the more you'll realize how amazing it truly is, for both reclaiming immense portions of time back to allocate as you choose as well as obtaining "Instant Gratification" in the realm of "Social Media Development".  Did you know that our first target "Tweople - Random Twitter users who are likely ONLINE NOW"...  oh yeah, it finds users who not only JUST TWEETED, but we are currently ignoring API's for this tool so you have the peace of mind that this recent tweet we're leveraging for a contact wan't a scheduled one with no user on the other end of it.  That's right, this tool is the very first which is literally geared to help you increase twitter followers by finding those who not only recently tweeted, but tweeted FROM THE WEB specifically...

