- content_for :title do
  .prepend-top
    .left
      %h2.inset-type
        %span.green #Top Trend
        SHOUTOUT&trade;

- content_for :content_body do
  .span-23.box
    %p
      Do you regularly leverage Social Media Top Trends?  Perhaps you've been using this technique to increase twitter followers, perhpas you've used it just for fun; Regardless of WHY you look to/pivot your social media development efforts on top trends, rest assured Mashoutable™ has made it easy to "Click Construct", and #MASHOUT targeted messages with one of the best social media tools ever - The
      %strong #
      Top Trend
      %strong SHOUTOUT!

    %p
      %strong ABOUT THIS TOOL:

    %p
      Ok so you know what trends are, and leveraging trends for one reason or another has become standard practice online and in the social media development efforts put forth by most all.  Unfortunately it can take a reeeeeeeeeeeeeeeeeeeeeeeeeeeeeeally long time to go about researching, selecting, composing, executing, etc. etc...

    %p
      Mashoutable&trade; is here to help you increase Twitter followers and enhance/amplify your social media development,  through a dynamic source of highly target-able top trend data.   As we are providing it through our proprietary "Click Construct" process you don't have to sacrifice the automation like productivity while maintaining your individuality/personality.  Now you can confiscate massive amounts of time back for yourself, while leveraging Google, Twitter, and other Top Trend authorities housed dynamically within the Mashoutable&trade; cloud.

    %p
      %strong WHO SHOULD/COULD USE THIS TOOL:

    %p
      %em "Social media development and leveraging top trends is no phenomenon, it's no fad, it's effective that's why we do it..."

    %p
      %strong Power User:
      Top Trends aren't new to you, but having them all housed in ONE of the best social media tools is!  Using top trends in  your social media development efforts isn't new either, using them in a SINGLE Click is!  "Click Construct"  a message now, we'll ensure automation levels of productivity and you apply individuality.  All done fully optimized and leveraging the most up to date trend data streamed dynamically from the world wide web directly into your tool options. - #PowerUserBliss!

    %p
      %strong Celebrity/Big Brands:
      Quickly at a top trend with no typing required.  Show your fans your in-tune, up-to-date, and on top of things by adding any of the top trends from your Country, State, City, Genre, Category, etc. Now you're just a click away from unquestionable quality interaction and communication.

    %p
      %strong Newbie:
      Help! ~ What the heck do I do with this top trend data?  First of all, you being new, likely says that you also could use some a greater network, you could certainly increase Twitter followers, Facebook Fans, Youtube views, etc... what better way than to know "WHAT" is trending, so that you're able to capitalize on that growing interest?  Use our "Click Construct" process to ensure automation levels of productivity while maintaining individuality and leveraging the most up to date trend data streamed dynamically from the world wide web directly into your tool options.

    %p
      %strong ANYONE:
      The web is a rich and potent source of information being both provided and consumed.  With ALL of the content, subjects, niches, genres, categories, demographics, etc., to swim the web staying up on what's trending and when can seem an impossible task; We've taken the time to consolidate all of this data, and then dynamically update the data live as it's provided to you.  This means you have the peace of mind you have the right data, at the right time, and with a simple click can now leverage that data through targeted and media rich ways.  The best social media tools for developing your image, brand, product, service, personality, etc. are now at your fingertips, FREE.
      %strong #
      Top Trend
      %strong SHOUTOUT
      NOW!

