- content_for :body do
  #content-wrapper.clear.span-24{:class => on_dashboard_index? ? 'dashboard' : nil}
    / left content box
    - conditional_div(!on_dashboard_index?, {:id => 'main-content', :class => 'left'}) do
      #content-top.clear
      #content-body.left
        / start content
        #content-inner.span-15
          / content title
          #title
            = yield :title
          / content section
          = yield :content_body
      #content-bottom.clear
      %hr.space/
    - if !on_dashboard_index?
      = yield :out
        
= render :template => 'layouts/application'
